/* body {
  text-align: center;
}

.jumbotron {
  font-family: cursive;
} */

#page-heading, #order-form, #subtotal-sidebar {
  background-color: cornsilk;
  border-radius: 14px;
  padding: 14px;
}

/* #order-form {
  margin-left: 15px;
}

#subtotal-sidebar {
  margin-right: 15px;
} */
.col {
  margin: 15px;
}

#subtotal-sidebar, #flavorSelect1Div, #toppingsSelect, #flavorSelect2Div, #flavorSelect3Div {
  display: none;
}